.main-wrapper__menu{
    width: 100%;
}

.main-wrapper__menu{
    background-color: rgba(40, 26, 69, 0.9);
}

.menu__flex-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu__container-initials{
    flex-basis: 40%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0);
}

.menu__initials {
    font-family: "Montserrat Alternates";
    font-size: 50px;
    color: rgb(140, 47, 131);
    margin: 0;
}

.menu__menu-list-wrapper{
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(140, 47, 131);
    border-radius: 10px;
    max-height: 50px;
    max-width: 538px;
}

.menu__menu-list-wrapper > li{
    color: white;
}

.menu__menu-list-wrapper > li:hover{
    background-color: rgb(104, 35, 97);
    transition: all .5s;
}